*.md linguist-detectable=true
*.md linguist-documentation=false
*.md linguist-language=Markdown

*.json linguist-detectable=true
*.json linguist-language=JSON

go.mod linguist-language=Go
go.mod linguist-detectable=true

go.sum linguist-language=Go
go.sum linguist-detectable=true